*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;     
        overflow-x: hidden;
}

#heading {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor:default;
}

.heading-1 {
    color: white;
}

.h-2 {
    color: white;
    margin-bottom: 50px;
    margin-top: 16px;
    font-family: cursive;
}

.logu {
    height: 170px;
    width: 170px;
    border-radius: 100px;
}

/* Nav */
.header {
    position: fixed;
    top: 0;
    width: 1540px;
    height: 80px;
    line-height: 80px;
}

.veg {
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0, 0.5);
}

.h-1 {
    color: yellow;
    font-size: 28.8px;
    font-family: cursive;
}

.ul {
    display: flex;   
}

.li {
    list-style: none;
    padding: 3px 15px 3px 15px;
}
.li:hover,.phone:hover {
    color: thistle;
    cursor: pointer;
}

.a-nav {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.a-nav:hover {
    color:thistle;
    transition: 0.3s;
}

.phone {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 3px 15px 3px 15px;
    border: 1px solid orange;
}
/* Nav End */

/* Top Dish */
.menu {
    padding: 200px 0 25px 0;
}
 
.section {
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 32px;
    font-family: verdana;
    color: red;
    text-shadow: 10px 10px 10px;
}

.menu-row {
    display: flex;
    padding: 0 100px 0 100px;
   
}

.menu-col {
    box-shadow: 20px 20px 20px grey;
    border: 1px solid black;
    background-color: white;
    margin: 50px;
    flex: 1;
    padding: 10px;
}

.menu-h-2 {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.image {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
}
/* Top Dish End */

/* About */
.about {
    padding: 100px 0 5px 0;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}

.about-col {
    flex: 1;
}

.about-h-1 {
    font-family: cursive;
    text-align: center;
    padding-top: 25px;
}

.about-img {
    padding-left: 70px;
}

.p {
    font-weight: bold;
    text-align: justify;
}
/* About End */

/* Contact */

.contact {
    padding: 50px 0 50px 0;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}

.contact-col {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.contact-col p,h3 {
    font-weight: bold;
    margin: 20px;
}

.contact-col p a{
    text-decoration: none;
}

.contact-section {
    text-align: center;
    font-family: cursive;
    margin-bottom: 50px;
    color: red;
}

.social a{
    color: blue;
    margin: 3px;
    font-size: 26px;
}

.contact-col form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 40px 20px 20px;
}

.contact-col form h2 {
    text-align: center;
    font-family: cursive;
}

.contact-col form input {
    width: 100%;
    margin: 5px;
    height: 23px;
    padding: 5px;
}
.contact-col form textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.contact-col form button {
    margin: auto;
    background-color: orange;
    padding: 10px;
    border: 1px solid orange;
    color: white;
    cursor: pointer;
}

.heading-c {
    font-family: cursive;
    text-align: center;
    padding: 100px 0 25px 0;
}

.c-body {
    background-color: black;
}
/* Contact End */

/* Menu */
.menu-design {
    padding: 58px 0 0 0;
    text-align: center;
    font-weight: 100;
}

.introduction {
    text-align: center;
    color: maroon;
    font-family: italic;
    font-style: italic;
    font-size: 20px;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    padding: 50px 25px 0 25px;
}

.a-menu {
    color: orange;
    text-decoration: none;
}

.a-menu:hover {
    transition: 0.3s;
    font-size: 32px;
    color: white;
}

.navbar-m {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.25);
}

.header-m {
    top: 0;
    width: 1540px;
    height: 70px;
    line-height: 70px;
}

.ss {
    text-align: center;
    font-family: cambria;
    font-weight: 300;
    color: whitesmoke;
}

.h-7 {
    font-style: italic;
    font-family: italic;
    font-weight: 900;
    font-size: 20px;
}

.h-3 {
    margin-top: 35px;
    font-size: 20px;
}

.a-nav:hover {
    color:thistle;
    transition: 0.3s;
    font-size: 25px;
}

.button-f {
    display: flex;
    justify-content: space-between;
}

.style {
   margin-left: 1409px;
   margin-top: 30px;
}

.button-1 {
    border: 1;
    background-color: orange;
    font-size: 25px;
    border-color: rgb(7, 66, 143);
    border-width: 1px;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 0 15px 0 15px;
    border-radius: 10px;
}

.button-1 a {
    color: white;
    text-decoration: none;
}

.button-1:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    transition: 0.3s;
}
/* Menu End */

/* Chef */
.chef-img {
    padding: 100px 50px 50px 25px;
}

.chef-i {
    font-family: cursive;
    text-align: justify;
    background-color:sienna;
    border-radius: 24px;
    padding: 10px 10px 15px 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.chef-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    color: white;
}

.chef-col {
    flex: 1;
}

.heading-c {
    font-family: cursive;
    text-align: center;
    padding: 90px 0 20px 0;
}
/* Chef End */